@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Send+Flowers&family=VT323&display=swap');
:root {
  --paddingBodyTop: 5rem;
  --gradientTop: #9c1614;
  --gradientBottom: #a32222;
  --border-radius: 5px;
  --font-family-marvel: 'Marvel', sans-serif;
  --font-family-fortnite: 'Luckiest Guy', cursive;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100vw;
  height: 100vh;
  /* height: fit-content; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding: var(--paddingBodyTop) 0 5rem 0; */

  /* background: linear-gradient(to bottom, #022e2e, #344b25); */
  overflow: hidden;
}
body.dark-mode {
  background: linear-gradient(to bottom, #606969, #344b25);
  /* background-color: #333; */
  color: #fff;
}
header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background: linear-gradient(
    to bottom,
    var(--gradientTop),
    var(--gradientBottom)
  );
}
.menu-container-el {
  position: absolute !important;
  top: 0rem !important;
  right: 0 !important;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: white; */
}
.darkModeToggle {
  /* height: 1rem; */
  /* display: flex; */
  gap: 0.5rem;
}
.select {
  width: fit-content;
  border-radius: var(--border-radius);
  /* box-shadow: 1px 1px #192a3bbc; */
  padding: 0.2rem 0.6rem;
  font-family: var(--font-family-marvel);
  font-size: 1rem;
  font-weight: 800;
  font-style: normal;
  color: #504a4a;
  border: none;
  cursor: 'pointer';
}
header .title {
  font-family: var(--font-family-marvel);
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
  color: white;
  /* text-transform: uppercase; */
  letter-spacing: -5px;
}
header p {
  font-family: var(--font-family-marvel);
  font-weight: 900;
  font-style: normal;
  font-size: 2.3rem;
  color: white;
  line-height: 3rem;
  /* text-transform: uppercase; */
  /* letter-spacing: -4px; */
}
header p:before {
  content: '\00a0 ';
}
header .current-view-indicator {
  /* justify-self: flex-end; */
  font-family: var(--font-family-marvel);
  font-weight: 900;
  font-style: normal;
  font-size: 2.3rem;
  color: #faf0bf;
  letter-spacing: -3px;
  text-transform: uppercase;
  transition: color 200ms ease-in-out, letter-spacing 200ms ease-in-out;
}
.current-view--changed {
  font-family: var(--font-family-marvel);
  font-weight: 900;
  font-style: normal;
  font-size: 2.3rem;
  /* color: var(--gradientBottom); */
  letter-spacing: -3px;
  text-transform: uppercase;
  transition: color 200ms ease-in-out, letter-spacing 200ms ease-in-out;
}
.main-section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  /* gap: 2rem; */
  overflow: auto;
}
.progress-bar {
  position: fixed;
  /* top: var(--paddingBodyTop); */
  top: 4rem;
  width: 100%; /* Or set a fixed width */
  height: 10px; /* Adjust the height as needed */
  background-color: #455d3b; /* Color for the filled part */
  /* border-radius: 5px; Add rounded corners (optional) */
}

.progress-bar-fill {
  height: 100%;
  width: 0%; /* Initial width is 0 */
  background-color: #fbca03; /* Background color for the empty bar */
  transition: width 0.3s ease; /* Smooth transition effect */
}

.current-question-number {
  position: absolute;
  top: 5rem;
  /* right: 5rem; */
  font-family: var(--font-family-marvel);
  font-size: 1.5rem;
  font-weight: 800;
  font-style: normal;
  color: white;
}
.question-card {
  z-index: 1;
  /* position: sticky; */
  /* top: 2rem; */
  position: relative;
  width: 100%;
  max-width: 30ch;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 5px;
  /* background: linear-gradient(to top, #5593d4, #4679af); */
  gap: 0.5rem;
  box-shadow: 1px 1px 1px 1px #192a3bbc;
}
.bookmarked {
  position: absolute;
  top: -0.1rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
}
.bookmarked .--false {
  position: absolute;
  top: -0.1rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;

  /* background-color: red; */
}
.bookmarked .--true {
  position: absolute;
  top: -0.1rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;

  /* background-color: green; */
}

.question-card--image {
  z-index: -1;
  /* position: absolute; */
  width: 100%;
  /* max-width: 40ch; */
  height: 100%;
  max-height: 240px;
  /* padding: 1rem; */
  object-fit: contain;
  /* border-radius: var(--border-radius); */
  /* box-shadow: 1px 1px #192a3bbc; */
}
.question-card--text {
  font-family: var(--font-family-marvel);
  font-size: 1.2rem;
  font-weight: 800;
  font-style: normal;
  color: white;
}
.new-question-card {
  z-index: 1;
  /* position: sticky; */
  /* top: 2rem; */
  position: relative;
  width: 100%;
  max-width: 30ch;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 5px;
  /* background: linear-gradient(to top, #5593d4, #4679af); */
  gap: 0.5rem;
  box-shadow: 1px 1px 1px 1px #192a3bbc;
}
.label-new-question {
  font-family: var(--font-family-marvel);
  font-size: 1.5rem;
  font-weight: 800;
  font-style: normal;
  color: white;
  text-transform: uppercase;
}
.new-question__possible-answers-wrapper {
  display: flex;
  flex-direction: column;
}
.new-question__possible-answers {
  font-family: var(--font-family-marvel);
  font-size: 1.5rem;
  font-weight: 800;
  font-style: normal;
  color: white;
  text-transform: uppercase;
}
.main-section--result-text {
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  font-family: var(--font-family-marvel);
  font-size: 1.5rem;
  font-weight: 800;
  font-style: normal;
  color: white;
}
.btn-wrapper {
  /* z-index: 0;
  position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.btn {
  /* box-shadow: none; */
  width: fit-content;
  border-radius: var(--border-radius);
  /* box-shadow: 1px 1px #192a3bbc; */
  padding: 0.2rem 0.6rem;
  font-family: var(--font-family-marvel);
  font-size: 1rem;
  font-weight: 800;
  font-style: normal;
  color: #504a4a;
  border: none;
  cursor: 'pointer';
}

.btn__icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #fff;
  cursor: 'pointer';
  background-color: transparent;
}
.btn--view-inFocus {
  color: white;
  background-color: green;
}
.btn--multiple-choice {
  width: fit-content;

  /* background-color: #f78f3f; */
}
.btn--multiple-choice--true {
  color: white;
  background-color: green !important;
}
.btn--multiple-choice--false {
  color: white;
  background-color: red !important;
}
.btn--inactive {
  color: grey;
}
.btn--show-answer {
  width: fit-content;
  justify-self: flex-end;
  align-self: flex-end;
  color: white;
  background-color: #f78f3f;
}
.btn--nav {
  text-transform: uppercase;
}
.wow-a-winner {
  font-family: var(--font-family-marvel);
  font-size: 1rem;
  font-weight: 800;
  font-style: normal;
  color: white;
}
.a-frequent-marvel-watcher {
  font-family: var(--font-family-marvel);
  font-size: 1rem;
  font-weight: 800;
  font-style: normal;
  color: white;
}
.keep-on-watchin {
  font-family: var(--font-family-marvel);
  font-size: 1rem;
  font-weight: 800;
  font-style: normal;
  color: white;
}
.profile-card {
  position: relative;
  width: 100%;
  max-width: 45ch;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 5px;
  background: linear-gradient(to top, #5593d4, #4679af);
  gap: 0.5rem;
  box-shadow: 1px 1px 1px 1px #192a3bbc;
}
.head-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.body-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.links-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
.link-github {
  width: 16ch;

  /* background: linear-gradient(to top, #5593d4, #4679af); */
}
.link-linked {
  width: 16ch;
}
.foot-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.name,
.about-text {
  position: relative;
  font-family: var(--font-family-marvel);
  font-size: 1.2rem;
  font-weight: 800;
  font-style: normal;
  color: white;
}

.profile-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.js-picture {
  position: absolute;
  bottom: 3px;
  margin-left: 5px;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 2px;
}
.aHrefButton {
  border-radius: var(--border-radius);
  border: none;
  color: white;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
  background-color: var(--gradientTop);
  /* text-decoration: none; */
}
.aHrefButton:hover {
  border-radius: var(--border-radius);
  border: none;
  color: black;
  transition: background-color 200ms ease-in-out;
  background-color: #fbca03;
  /* text-decoration: none; */
}
.aHref {
  font-family: var(--font-family-marvel);
  font-size: 1rem;
  font-weight: 800;
  font-style: normal;
  color: white;
  transition: color 200ms ease-in-out;
  text-decoration: none;
}
.aHref:hover {
  font-family: var(--font-family-marvel);
  font-size: 1rem;
  font-weight: 800;
  font-style: normal;
  color: black;
  transition: color 200ms ease-in-out;
  text-decoration: none;
}
footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background: linear-gradient(
    to top,
    var(--gradientTop),
    var(--gradientBottom)
  );
}
input[type='checkbox'] {
  /* Your styles here (e.g., appearance, size, etc.) */
}

/* Style for checked checkbox */
input[type='checkbox'].checked {
  /* Different styles for the checked state (e.g., background color, checkmark) */
}
.settings-hidden {
  display: none;
}
.settings-visible {
  display: block;
}
.btn--demoState {
  z-index: 100;
  position: absolute;
  top: 18rem;
  left: 8rem;
  width: 10rem;
  height: 10rem;
}
/* .color {
  color: #047cb6;
  color: #50c6ff;
  color: #fbc623;
  color: #feff79;
  color: #d41212;
}
.color {
  color: #070914;
  color: #171b31;
  color: #aeb7c2;
  color: #fefefe;
  color: #d41212;
  color: #9b3430;
  color: #3b5fa4;
  color: #337495;
}
.color {
  color: #4c51f7;
  color: #3539b9;
  color: #9d4dbb;
  color: #ffffff;
  color: #1d6320;
  color: #319236;
  color: #f3af19;
  color: #c39125;
} */
